{% extends 'header.html' %} {% block content %}
<!--Esta é a listagem de Tópicos--->
<div class="card-body hover-div ">
    <div class="card-body ">
        Quina Resultados
    </div>
</div>
<div class="card-body hover-div"></div>
    <div class="row  row-cols-md-3 g-3">
        
        {% for jogo in jogos %}
        <div class=" list-group card-body based-on-text">
            
            <div class="card-body rounded-circle">
                <p>Número do Concurso {{ jogo['Concurso'] }}</p>
                
                <button type="button" class="btn btn-outline-info">{{ jogo['Bola1'] }}</button>
                <button type="button" class="btn btn-outline-info">{{ jogo['Bola2'] }}</button>
                <button type="button" class="btn btn-outline-info">{{ jogo['Bola3'] }}</button>
                <button type="button" class="btn btn-outline-info">{{ jogo['Bola4'] }}</button>
                <button type="button" class="btn btn-outline-info">{{ jogo['Bola5'] }}</button>
            
                
            </div></div>
        {% endfor %}
        
                    
    </div>
</div>


{% endblock %}